:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #2a0c12 ;
    --color-secondary: #522525;
    --color-dark: #560909;;
    --color-bg: #c34d38;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }